<div class="row">
  <div class="col-md-8">
    <h1>Comments</h1>

    <table class="table">
      <tr>
        <th>Comment</th>
        <th><th>
        <th></th>
      </tr>
      <% @comments.each do |comment| %>
        <tr id="<%= dom_id(comment) %>">
          <td><%= comment.body %></td>
          <% if policy(comment).approve? %>

            <% if comment.approved %>
              <td>
                <%= button_to 'Remove approval', [@commentable, comment], comment: { approved: false }, method: :put, class: "btn btn-warning btn-sm" %>
              </td>
            <% else %>
              <td>
                <%= button_to 'Approve', [@commentable, comment], comment: { approved: true }, method: :put, class: "btn btn-success btn-sm" %>
              </td>
            <% end %>
          <td>
            <%= button_to 'X', [@commentable, comment], method: :delete, data: { confirm: 'Delete comment?' }, class: "btn btn-danger btn-sm" %>
          </td>
          <% elsif !comment.approved %>
            <td><span style="color:red">Not yet approved</span></td>
          <% end %>
        </tr>
        <tr>
          <td><em><%= comment.author_email %></em></td>
        </tr>
      <% end %>
    </table>
    <%= button_to 'New comment', [:new, @commentable, :comment], method: :get, class: "btn btn-success" %>
  </div>
</div>
