<!-- start: Container -->
<div class="container">

    <!-- start: Page header / Breadcrumbs -->
    <section class="breadcrumbs">
        <div class="row">
            <div class="span12 clearfix">
                <div class="page-header">
                    <h1>Contact Me<small></small></h1>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Page header / Breadcrumbs -->

    <div class="row">

        <!-- start: Page section -->
        <section id="page-sidebar" class="span12">

            <div class="row-fluid main-row">
                <div class="span12">
                    <div class="gmap"><iframe class="" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=47.670011,-122.330017&amp;spn=0.963995,1.783905&amp;t=m&amp;z=10&amp;output=embed"></iframe></div>
                </div>
            </div>
                <div class="row-fluid">
                    <div class="span8">
                        <h2>Send me a message</h2>
                        <%= form_for @message do |f| %>
                        <!--<form name="contact" method="post" action="contact.html" class="af-form" id="af-form">-->
                            <div class="row-fluid">

                                <div class="af-outer af-required">
                                    <div class="af-inner">
                                        <!--<input type="text" name="name" id="name" size="30" value="" placeholder="Name" class="text-input span12 placeholder" />
                                        <label class="error" for="name" id="name_error">Name is required.</label>-->
                                        <%= f.label :name %>
                                        <%= f.text_field :name %>
                                    </div>
                                </div>

                            </div>
                            <div class="row-fluid">

                                <div class="af-outer af-required">
                                    <div class="af-inner">
                                        <%= f.label :email %>
                                        <%= f.email_field :email %>
                                        <!--<input type="text" name="email" id="email" size="30" value="" placeholder="Email" class="text-input span12 placeholder" />
                                        <label class="error" for="email" id="email_error">Email is required.</label>-->
                                    </div>
                                </div>

                            </div>
                            <div class="row-fluid">

                                <div class="af-outer af-required">
                                    <div class="af-inner">
                                        <!--<textarea name="message" id="input-message" cols="30" placeholder="Message" class="text-input span12 placeholder"></textarea>
                                        <label class="error" for="input-message" id="message_error">Message is required.</label>-->
                                        <%= f.label :content %>
                                        <%= f.text_area :content %>
                                    </div>
                                </div>

                            </div>
                            <div class="row-fluid">

                                <div class="af-outer af-required">
                                    <div class="af-inner">
                                        <!-- <input type="submit" name="submit" class="form-button btn btn-primary" id="submit_btn" value="Send Message!" /> -->
                                        <%= f.submit 'Send Message'%>
                                    </div>
                                </div>

                            </div>
                        <% end %>
                        <!--</form>-->
                    </div>
                    <div class="span4">
                        <section>
                            <h3>Contact Info</h3>
                            <address>
                                <ul class="icons">
                                    <li><i class="icon-user"></i> <strong>Matthew Schneider</strong></li>
                                    <li><i class="icon-map-marker"></i> <strong>Address:</strong> Seattle, WA</li>
                                    <li><i class="icon-envelope"></i> <strong>Email:</strong><a href="mailto:schneider.matthew.b@gmail.com">schneider.matthew.b@gmail.com</a></li>
                                </ul>
                            </address>
                        </section>
                    </div>
                </div>

            </section>
            <!-- end: Page section -->

        </div>

    </div>
    <!-- end: Container -->
