<div class="row">
  <div class="span12">
    <h1>Projects:</h1>

    <table class="table">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Technologies Used</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @projects.each do |project| %>
      <tr id="<%= project.id %>">
        <td><%= image_tag project.image_url(:thumb).to_s %></td>
        <td><%= project.title %></td>
        <td><%= project.technologies_used %></td>



        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>

    <br />

    <%= direct_upload_form_for @uploader do |f| %>
      <p><%= f.file_field :image %></p>
      <p><%= f.submit "Upload Image" %></p>
    <% end %>

    <%# link_to 'New Project', new_project_path %>
  </div>
</div>

