<%= form_for @project, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :technologies_used %><br />
    <%= f.text_field :technologies_used %>
  </p>
  <p>
    <%= f.hidden_field :key %>
  </p>
  <p>
      <%= @project.image_name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
