<%= form_for @project do |f| %>
  <!-- Validation code omitted -->

  <%= f.hidden_field :key %>



  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
