<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</br>
<b>Technologies used:</b>
<%= @project.technologies_used %>
</p>
<% if @project.image_processed? %>
  <%= image_tag @project.image_url(:thumb) if @project.image? %>
<% else %>
  <em>processing...</ed>
<% end %>

<br />
<br />
<%= render 'comments/index' %>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', projects_path %>


