<p id="notice"><%= notice %></p>

<h2>
  <%= @project.title %>
</h2>
<p>
  <%= link_to @project.web_page, style: "font-size:1.5em" do %>
    <%= @project.web_page %>
  <% end %>
</p>
<p>
  <%= image_tag @project.image_url(:proj) %>
</p>
<p>
  <%= @project.short_description %>
</p>
<p>
  <b>Technologies used:</b>
  <%= @project.technologies_used %>
</p>

<br />
<br />
<%= render 'comments/index' %>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', projects_path %>



