<p>
  <%= raw(@post.content) %>
</p>

<p id="author">
  <em>Submitted by:
    <%= @post.author.email %>
  </em>
</p>

<%= render 'comments/index' %>

<% if policy(@post).update? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>
