<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
  <title>Matt Schneider</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;"/>

  <% # MATT ADDITION %>

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>

  <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= image_path("apple-touch-icon-144-precomposed.png") %>"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= image_path("apple-touch-icon-114-precomposed.png") %>"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= image_path("apple-touch-icon-72-precomposed.png") %>"/>
  <link rel="apple-touch-icon-precomposed" href="<%= image_path("apple-touch-icon-57-precomposed.png") %>"/>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="container">
  <% [:notice,:error,:info,:success,:alert].each do |key| %>
    <div class="message">
      <%= flash[key] %>
    </div>
  <% end %>
  <% if current_user %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% end %>
</div>
<div class="container">
  <%= yield %>
</div>
<footer id="footer" style='margin-top: 10px'>
  <div class="container">
    <%= render 'layouts/footer' %>
  </div>
</footer>

</body>
</html>
