<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<% [:notice,:error,:info,:success,:alert].each do |key| %>
  <div class="message">
    <%= flash[key] %>
  </div>
<% end %>

<div class="container">
<%= yield %>
</div>

</body>
</html>
